@import "tailwindcss";
@plugin "daisyui";



body {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}









:root {
  --bg-color: #fffaf0;
  --bg-card: #D9F0D9;
  
}

[data-theme='dark'] {
  --bg-color: #2c2c2c;
  --bg-card: #272727;
  --text-primary:#cfcfcf;
}

main {
  background-color: var(--bg-color);
}











.active {
  border-bottom: 3px solid black;

}

.input {
  @apply w-full border border-gray-300 rounded-xs px-3 py-2 focus:outline-none focus:ring-2 focus:ring-amber-400 outline-none
}



.btn {
  @apply bg-amber-500 hover:bg-amber-700
}


.feature-card {
  @apply bg-[var(--bg-card)] text-[var(--text-primary)] rounded-sm p-2
}

.feature-head {
  @apply text-center text-xl font-medium
}

.feature-location {
  @apply text-[18px] font-semibold
}

.feature-number {
  @apply text-[18px] font-semibold
}