@import "tailwindcss";
@plugin "daisyui";




/* .hero1::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, .2);
}


.hero-content1 {
  position: relative; 
  z-index: 1;
  
  
} */

.active{
  border-bottom: 3px solid black;
  
}

.input{
  @apply w-full border border-gray-300 rounded-xs px-3 py-2 focus:outline-none focus:ring-2 focus:ring-amber-400 outline-none
}



.btn{
  @apply  bg-amber-300 hover:bg-amber-500
}


.feature-card{
  @apply bg-[#D9F0D9] rounded-sm p-2 
}

.feature-head{
 @apply text-center text-xl font-medium 
}

.feature-location{
  @apply text-[18px] font-semibold
}

.feature-number{
  @apply text-[18px] font-semibold
}